:root {
  --background-blue: #002959;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  color: #333;
  background-color: #f4f4f4;
}

/* Header da página */

header {
  background: var(--background-blue);
  padding: 1.5rem 0;
  text-align: center;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.logo {
  height: 160px;
}

nav {
  margin-top: 1rem;
}

nav > ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 0;
}

nav > ul > li {
  margin: 0 1rem;
}

nav > ul > li > a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s;
  font-weight: 500;
  position: relative;
}

nav > ul > li > a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  background-color: #fff;
  left: 0;
  bottom: -3px; /* Distância do texto */
  transition: width 0.3s ease-in-out; /* Transição suave */
}

nav > ul > li > a:hover::after {
  width: 100%;
}

/* Conteúdo da página */

section {
  padding: 1.2rem;
  margin: 1rem auto;
  max-width: 420px;
  height: 280px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.5s;
}

section:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

section > p {
  line-height: 1.3;
  font-family: "Noto Sans", sans-serif;
  margin-top: 5px;
}

section:nth-child(1),
section:nth-child(2) {
  height: 270px;
}

.pages-link {
  display: none;
}

.pdf-canvas {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;

  display: flex;
  align-items: center;
  gap: 5px;
}

section:nth-of-type(4) .container-button {
  margin-top: 0.8rem;
}

.container-button {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.canvas {
  text-decoration: none;
}

.pdf-canvas:hover {
  background-color: #218838;
  transform: scale(1.03);
}

.container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 950px;
  margin: 1.4rem auto;
}

.icon {
  width: 50px;
  height: 50px;
}

.container-icon {
  display: flex;
  justify-content: center;
}

/* Container geral do footer */
footer {
  background-color: #062e57;
  color: #ffffff;
  padding: 40px 0;
}

.container-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex-basis: 22%;
  margin: 20px 0;
}

.footer-section > h4 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #f0a500;
}

.footer-section > p,
.footer-section > ul {
  font-size: 14px;
  line-height: 1.6;
}

.footer-section > p {
  max-width: 350px;
}

.footer-section > ul {
  list-style: none;
  padding: 0;
}

.footer-section > ul > li {
  margin-bottom: 10px;
}

.footer-section > ul > li > a {
  color: #ffffff;
  text-decoration: none;
}

.footer-section > ul > li > a:hover {
  color: #f0a500;
}

/* Estilo da parte inferior */
.footer-bottom {
  text-align: center;
  padding: 20px;
}

.footer-bottom > p {
  margin: 0;
  font-size: 14px;
  color: #ffffff;
  margin-top: 2rem;
}

.numero {
  cursor: pointer;
}

@media (max-width: 768px) {
  section {
    cursor: auto;
  }

  section:hover {
    box-shadow: none;
  }

  section:nth-child(1),
  section:nth-child(2) {
    height: 264px;
  }

  section > h2 {
    font-size: 22px;
  }

  section > p {
    font-size: 14px;
  }

  section:nth-of-type(3) .container-button {
    margin-top: 0.8rem;
  }

  section:nth-of-type(4) .container-button {
    margin-top: 1.5rem;
  }

  section:nth-child(3),
  section:nth-child(4) {
    height: 260px;
  }

  .container-button {
    margin-top: 1.3rem;
  }

  .pages-link {
    background-color: #0091d4;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 9px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .pages-link:active {
    background-color: #004b8d;
    transform: scale(0.98);
  }

  .pdf-canvas:hover {
    background-color: #28a745;
    transform: none;
  }

  .pdf-canvas:active {
    background-color: #1c7230;
    transform: scale(0.98);
    transition: background-color 0.5s ease;
  }

  .container-footer {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    flex-basis: 100%;
    margin: 10px 0;
    text-align: center;
  }

  .footer-bottom > p {
    font-size: 12px;
  }
}

@media (max-width: 481px) {
  .container-button {
    margin-top: 0.9rem;
  }

  section > h2 {
    font-size: 20px;
  }

  section:nth-child(1),
  section:nth-child(2) {
    height: 269px;
    padding: 1rem;
  }

  section:nth-of-type(4) .container-button {
    margin-top: 1.1rem;
  }

  .footer-section > h4 {
    font-size: 16px;
  }

  .footer-section > p,
  .footer-section > ul {
    font-size: 12px;
  }

  .footer-bottom > p {
    font-size: 10px;
  }
}
