:root {
  --backgound-blue: #0a4d8f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;

  background-color: #f4f4f4;
  overflow-x: hidden;
}

/* Cabeçaçalho */

header {
  background: var(--backgound-blue);
  padding: 1.5rem 0;
  color: #fff;
  text-align: center;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

header > nav {
  margin-top: 1rem;
}

header > nav > ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 0;
}

header > nav > ul > li {
  margin: 0 1rem;
}

header > nav > ul > li > a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s;
  font-weight: 500;
  position: relative;
}

header > nav > ul > li > a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  background-color: #fff;
  left: 0;
  bottom: -3px; /* Distância do texto */
  transition: width 0.3s ease-in-out; /* Transição suave */
}

header > nav > ul > li > a:hover::after {
  width: 100%;
}
/* Seção da equipe */
.team-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

/* Estilização dos cartões de membros */
.team-member {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 15px;
  padding: 20px;
  width: 300px;
  text-align: center;
  transition: transform 0.3s ease;
  cursor: pointer;
  position: relative;

  opacity: 0;
  animation: slideIn 0.5s ease forwards;
}

.team-member:nth-child(1) {
  animation-delay: 0.1s;
}
.team-member:nth-child(2) {
  animation-delay: 0.3s;
}
.team-member:nth-child(3) {
  animation-delay: 0.5s;
}

.team-member:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}
.team-member > img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.team-member > h2 {
  margin-top: 3px;
  font-size: 1.5em;
  font-weight: 700;
  color: #88e2e2;
}

.team-member > p {
  font-size: 1em;
  color: #666;
  margin-top: 10px;
}

.mentor-badge:hover,
.lider-badge:hover,
.membro-badge:hover {
  background-color: #f0a500;
  transition: background-color 0.3s ease;
}

/* Badges nos cards */

.mentor-badge {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ffcc00; /* Cor do badge */
  color: #fff;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.mentor {
  border: 2px solid #ffcc00;
}

.mentor > h2 {
  color: #ffcc00;
  font-weight: 700;
}

.lider-badge,
.membro-badge {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #88e2e2;
  color: #fff;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.lider,
.membro {
  border: 2px solid #88e2e2;
}

/* Estilo para a janela expandida */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.overlay.active {
  display: flex;
  opacity: 0;
  display: flex;
  animation: fadeIn 0.5s forwards;
}

/* Estilização do conteúdo da janela expandida */
.overlay-content {
  background-color: white;
  padding: 40px;
  width: 90%;
  max-width: 800px;
  text-align: center;
  border-radius: 10px;
  position: relative;
  transform: scale(0.95);
  transition: all 0.6s ease;
}

.overlay.active .overlay-content {
  transform: scale(1);
  transition: all 0.6s ease;
}

/* Estilização da imagem e texto do modal */
.overlay-content > img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.overlay-content h2 {
  margin-top: 15px;
  font-size: 2em;
  color: #333;
}
.overlay-content p {
  font-size: 1.2em;
  color: #666;
  margin-top: 20px;
}

/* Botão de fechar (X) */
.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 35px;
  color: #333;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  line-height: 0.8;
}

.close-btn:hover {
  color: #d11616be;
  transition: color 0.3s ease-in;
}

/* Rodapé */
footer {
  background-color: #062e57;
  color: #ffffff;
  padding: 40px 0;
}

.container-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex-basis: 22%;
  margin: 20px 0;
}

.footer-section > h4 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #f0a500;
}

.footer-section > p,
.footer-section > ul {
  font-size: 14px;
  line-height: 1.6;
}

.footer-section > p {
  max-width: 350px;
}

.footer-section > ul {
  list-style: none;
  padding: 0;
}

.footer-section > ul > li {
  margin-bottom: 10px;
}

.footer-section > ul > li > a {
  color: #ffffff;
  text-decoration: none;
}

.footer-section > ul > li > a:hover {
  color: #f0a500;
}

/* Estilo da parte inferior */
.footer-bottom {
  text-align: center;
  padding: 20px;
}

.footer-bottom > p {
  margin: 0;
  font-size: 14px;
  color: #ffffff;
  margin-top: 2rem;
}

.numero {
  cursor: pointer;
}

@media (max-width: 480px) {
  .footer-section > h4 {
    font-size: 16px;
  }

  .footer-section > p,
  .footer-section > ul {
    font-size: 12px;
  }

  .social-media > a {
    font-size: 16px;
    margin-right: 5px;
  }

  .footer-bottom > p {
    font-size: 10px;
  }
}

/* Responsividade */
@media (max-width: 768px) {
  header > h1 {
    font-size: 1.5em;
    max-width: 80vw;
    margin: auto;
  }

  nav > ul > li {
    margin-inline: 0.9rem;
  }

  .team-member {
    width: 80%;
  }

  .team-member:hover {
    transform: translateY(0);
  }

  /* Ajustes no tamanho da imagem e do texto no modal para celular */
  .overlay-content > img {
    width: 150px;
    height: 150px;
  }
  .overlay-content > h2 {
    font-size: 1.5em;
  }
  .overlay-content > p {
    font-size: 1em;
  }

  /* Ajuste da transição de crescimento */
  .overlay-content {
    transform: scale(0.8);
  }

  .container-footer {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    flex-basis: 100%;
    margin: 10px 0;
    text-align: center;
  }

  .footer-bottom p {
    font-size: 12px;
  }

  .container-footer {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    flex-basis: 100%;
    margin: 10px 0;
    text-align: center;
  }

  .footer-bottom > p {
    font-size: 12px;
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
