:root {
  --background-blue: #002959;
}

/* Regras gerais */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.5;
  background-color: #f8f8f8;
  color: #333;
}

/* Cabeçalho */
header {
  background-color: var(--background-blue);
  padding: 1.5rem 0;
  text-align: center;
  color: white;
}

header > h1 {
  font-size: 2.5rem;
}

header > h2 {
  font-size: 1.5rem;
  margin-top: 20px;
}

nav {
  margin-top: 1rem;
}

nav > ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 0;
}

nav > ul > li {
  margin: 0 1rem;
}

nav > ul > li > a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s;
  font-weight: 500;
  position: relative;
}

nav > ul > li > a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  background-color: #fff;
  left: 0;
  bottom: -3px;
  transition: width 0.3s ease-in-out;
}

nav > ul > li > a:hover::after {
  width: 100%;
}

/* Conteúdo */
section {
  padding: 20px;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 26px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.content > article {
  margin-bottom: 40px;
}

.content > h3 {
  font-size: 1.8rem;
  color: #3a6ea5;
  margin-bottom: 15px;
}

.content > p {
  margin-bottom: 20px;
}

.content > ul > li,
.content > ol > li {
  margin-bottom: 10px;
}

/* Processos */
.process > p {
  margin-block: 12px;
}

.process > ol {
  margin-left: 26px;
}

.process > ol > li {
  margin-top: 10px;
}

/* Resumo */
.summary {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
  max-width: 1260px;
  margin: auto;
}

.summary-item {
  flex: 1;
  min-width: 300px;
  background-color: #e6f7ff;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.summary-item > h3 {
  font-size: 1.8rem;
  color: #3a6ea5;
  margin-bottom: 10px;
}

/* Fórmulas e Compostos */
.formulas {
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.reaction {
  margin-bottom: 20px;
  padding: 15px;
  background-color: #f2f2f2;
  border-left: 4px solid #3498db;
  border-radius: 5px;
}

.formula {
  font-family: "Courier New", monospace;
  font-size: 1.3rem;
  color: #333;
}

.formula > sub {
  font-size: 0.8rem;
}

.formula > sup {
  font-size: 0.8rem;
  color: #e74c3c;
}

.tutorial {
  font-size: 1.1rem;
  font-weight: bold;
  color: #2d8fdd;
  background-color: #f0f8ff;
  padding: 10px 15px;
  border-left: 4px solid #2d8fdd;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: default;
}

.compound {
  font-weight: bold;
  font-family: "Courier New", monospace;
  font-size: 1.2rem;
  margin-right: 5px;

  position: relative;
  cursor: default;
}

/* Hidróxido de Cálcio */
.formula > .hydroxide-calcio {
  color: #4caf50;
}

/* Bicarbonato de Cálcio */
.formula > .bicarbonate-calcio {
  color: #2196f3;
}

/* Carbonato de Cálcio */
.formula > .carbonate-calcio {
  color: #ff9800;
}

/* Água */
.formula > .agua {
  color: #00bcd4;
}

/* Hidróxido de Magnésio */
.formula > .hydroxide-magnesio {
  color: #8e44ad;
}

/* Carbonato de Magnésio */
.formula > .carbonate-magnesio {
  color: #e74c3c;
}

.compound:hover::after {
  content: attr(data-name) " - " attr(data-type);
  position: absolute;
  background-color: rgba(0, 0, 0, 0.651);
  color: white;
  padding: 4px;
  border-radius: 4px;
  top: 120%;
  left: 0;
  z-index: 10;
  white-space: nowrap;
  font-size: 0.9rem;
  animation: entrada 0.6s ease-out;
}

.modal {
  display: none; /* Escondido por padrão */
}

@keyframes entrada {
  0% {
    opacity: 0;
    transform: translateY(20px) scale(0.9);
  }
  40% {
    opacity: 0.7;
    transform: translateY(-5px) scale(1.02);
  }
  60% {
    opacity: 1;
    transform: translateY(2px) scale(0.98);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

.compound.solid {
  color: #28a745; /* Verde para sólidos */
}

.compound.aqueous {
  color: #6f42c1; /* Roxo para soluções aquosas */
}

.compound > sub,
.compound > sup {
  font-size: 0.8rem;
}

/* Listas e iterações */
article > ul,
article > ol {
  margin-left: 26px;
}

ul {
  list-style-type: none;
}

ul > li,
ol > li {
  margin-top: 10px;
  margin-bottom: 15px;
}

.introduction > ul > li:before {
  content: "➔";
  margin-right: 5px;
}

.sinais-agua-dura {
  margin-top: 10px;
  margin-left: 15px;
}

.objective > ul > li:before {
  content: "📌";
  margin-right: 5px;
}

.materials > ul > li {
  list-style-type: disc;
}

.list-amolecer-agua > li {
  margin-bottom: 21px;
}

/* Resultados Esperados */
.results {
  background-color: #f0f4f8;
  padding: 20px;
  border-left: 5px solid #3a6ea5;
  border-radius: 8px;
}

.results > p {
  margin-bottom: 15px;
  margin-top: 8px;
  line-height: 1.5;
}

/* Rodapé */
footer {
  background-color: #062e57;
  color: #ffffff;
  padding: 40px 0;
}

.container-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex-basis: 22%;
  margin: 20px 0;
}

.footer-section > h4 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #f0a500;
}

.footer-section > p,
.footer-section > ul {
  font-size: 14px;
  line-height: 1.6;
}

.footer-section > p {
  max-width: 350px;
}

.footer-section > ul {
  list-style: none;
  padding: 0;
}

.footer-section > ul > li {
  margin-bottom: 10px;
}

.footer-section > ul > li > a {
  color: #ffffff;
  text-decoration: none;
}

.footer-section > ul > li > a:hover {
  color: #f0a500;
}

.footer-bottom {
  text-align: center;
  padding: 20px;
}

.footer-bottom > p {
  margin: 0;
  font-size: 14px;
  color: #ffffff;
  margin-top: 2rem;
}

.numero {
  cursor: pointer;
}

/* Responsividade */
@media (max-width: 768px) {
  header > h2 {
    font-size: 0.95rem;
    margin-bottom: 5px;
  }

  header > h1 {
    font-size: 1.5em;
    max-width: 90vw;
    margin: auto;
  }

  nav > ul > li {
    margin-inline: 0.9rem;
  }

  .introduction > p + p {
    margin-top: 10px;
  }

  ul,
  ol {
    margin-left: 10px;
  }

  .objective > ul {
    margin-left: 2px;
  }

  .compound:hover::after {
    content: "";
    background-color: none;
    color: none;
    padding: 0px;
    border-radius: 0px;
  }

  .modal {
    display: none; /* Escondido por padrão */
    position: absolute; 
    z-index: 1000; 
    background-color: rgba(0, 0, 0, 0.651);
    color: white;
    padding: 10px 7px; 
    border: 1px solid #ccc;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.336);
    width: 200px; 
    opacity: 0; 
    transform: translateY(-20px); 
    transition: opacity 0.3s ease, transform 0.3s ease;
    border-radius: 8px;
    font-family: 'Courier New', monospace;
  }

  .modal::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -31px;
    border-width: 6px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.651) transparent transparent transparent;
  }

  .modal.show {
    opacity: 1; 
    transform: translateY(0); 
  }
  
  .modal > h2 {
    font-size: 1.1rem; 
    margin-bottom: 7px;
  }
  
  .modal > p {
    font-size: 1rem; 
    font-weight: bold;
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .compound:hover::after {
    width: 150px;
    white-space: wrap;
    font-size: 0.85rem;
    top: 127%;
    left: -28px;
  }

  .container-footer {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    flex-basis: 100%;
    margin: 10px 0;
    text-align: center;
  }

  .footer-bottom > p {
    font-size: 12px;
  }
}

@media (max-width: 481px) {
  .footer-section > h4 {
    font-size: 16px;
  }

  section {
    padding: 20px 10px;
  }

  .footer-section > p,
  .footer-section > ul {
    font-size: 12px;
  }

  .footer-bottom > p {
    font-size: 10px;
  }
}