:root {
  --backgound-blue: #0a4d8f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background-color: #f5f5f5;
  color: #333;
}

main {
  padding: 20px;
}

header {
  background: var(--backgound-blue);
  padding: 1.5rem 0;
  color: #fff;
  text-align: center;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

header > p {
  margin-top: 1rem;
  font-size: 17px;
}

header > nav {
  margin-top: 1rem;
}

header > nav > ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 0;
}

header > nav > ul > li {
  margin: 0 1rem;
}

header > nav > ul > li > a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s;
  font-weight: 500;
  position: relative;
}

header > nav > ul > li > a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  background-color: #fff;
  left: 0;
  bottom: -3px; /* Distância do texto */
  transition: width 0.3s ease-in-out; /* Transição suave */
}

header > nav > ul > li > a:hover::after {
  width: 100%;
}

h2,
h3 {
  color: #2e7d32;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

section > p {
  margin-bottom: 20px;
  font-size: 1.1rem;
}

p,
li {
  line-height: 1.5;
}

.content-section {
  background-color: white;
  padding: 40px;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-in-out;
}

.highlighted-section {
  background-color: #e8f5e9;
  border-left: 6px solid #2e7d32;
}

.benefits-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.benefit-card {
  background-color: #e0f2f1;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.benefit-card:hover {
  transform: translateY(-10px);
}

.plan-section,
.solution-section {
  background-color: #f1f8e9;
  border-left: 6px solid #81c784;
}

.plan-section {
  margin-top: 60px;
  padding: 20px;
  border-radius: 10px;
  animation: fadeInUp 2s ease-in-out;
}

.plan-section {
  margin-top: 20px;
}

.fade-in-list > li {
  list-style: none;
  padding: 10px;
  border-radius: 5px;
  position: relative;
}

.plan-section > ul > li::before {
  content: "✔";
  margin-right: 10px;
  color: #16a545;
}

.solution-section > ul > li:before {
  content: "📌";
  margin-right: 5px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Rodapé */
footer {
  background-color: #062e57;
  color: #ffffff;
  padding: 40px 0;
}

.container-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex-basis: 22%;
  margin: 20px 0;
}

.footer-section > h4 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #f0a500;
}

.footer-section > p,
.footer-section > ul {
  font-size: 14px;
  line-height: 1.6;
}

.footer-section > p {
  max-width: 350px;
}

.footer-section > ul {
  list-style: none;
  padding: 0;
}

.footer-section > ul > li {
  margin-bottom: 10px;
}

.footer-section > ul > li > a {
  color: #ffffff;
  text-decoration: none;
}

.footer-section > ul > li > a:hover {
  color: #f0a500;
}

/* Estilo da parte inferior */
.footer-bottom {
  text-align: center;
  padding: 20px;
}

.footer-bottom > p {
  margin: 0;
  font-size: 14px;
  color: #ffffff;
  margin-top: 2rem;
}

.numero {
  cursor: pointer;
}

@media (max-width: 480px) {
  .footer-section > h4 {
    font-size: 16px;
  }

  .footer-section > p,
  .footer-section > ul {
    font-size: 12px;
  }

  .social-media > a {
    font-size: 16px;
    margin-right: 5px;
  }

  .footer-bottom > p {
    font-size: 10px;
  }
}

/* Responsividade */
@media (max-width: 768px) {
  header > h1 {
    font-size: 1.5em;
    max-width: 80vw;
    margin: auto;
  }

  nav > ul > li {
    margin-inline: 0.9rem;
  }

  .container-footer {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    flex-basis: 100%;
    margin: 10px 0;
    text-align: center;
  }

  .footer-bottom p {
    font-size: 12px;
  }

  .container-footer {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    flex-basis: 100%;
    margin: 10px 0;
    text-align: center;
  }

  .footer-bottom > p {
    font-size: 12px;
  }

  .benefit-card:hover {
    transform: translateY(0px);
  }

  header > p {
    font-size: 0.95rem;
    margin-bottom: 5px;
    max-width: 75vw;
  }

  h1,
  h2,
  h3 {
    font-size: 1.5em;
  }
}
